{{define "title"}}Home Page{{end}}
{{define "content"}}
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card bg-success bd-success text-white">
            <p class="is-center">All systems are operational</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        {{if .URLs}}
        {{range $j, $value := .URLs}}
        <div class="card">
            <header>
                <h5>{{$j}} <span class="pull-right">Operational</span></h5>
            </header>
            <hr />
            {{range $i, $url := $value}}         
            <p {{if not (IsLast $i (len $value))}}style="border-bottom: 0.5px solid #bdc3c7; padding-bottom:15px;"{{end}}>
                - {{ $url.Url }} ({{$url.StatusCode}}) <span class="pull-right"><img src="https://icongr.am/feather/check.svg?size=24&amp;color=2ecc71" alt="icon"></span>
            </p>
            {{end}}
        </div>
        {{end}}

        {{else}}
        <div class="card">
            <p><h2 class="text-center">No data to display</h2></p>
        </div>
        {{end}}
    </div>
</div>
{{end}}