:root {
    --color-primary: #3498db; /* brand color */
    --color-success: #27ae60;
}

div.flash {
    color: #FFFFFF;
    background-color: #34495E;
    padding: 18px;
    margin-bottom: 36px;
    text-align: center;
}